$totalTime = 40s
$stageWidth = 640px
$stageHeight = 360px

.stage
	margin 100px
	overflow visible

.stage-preview
	display block
	position absolute
	width $stageWidth
	height $stageHeight
	top 0
	left 0
	background rgba(255, 144, 0, .75)

.layer0
	border 4px dashed #c00

.layer1
	border 4px dashed #0c0

.layer2
	border 4px dashed #00c
