@import 'nib'

@require 'stage'

@require 'blimp'
@require 'coastguard'
@require 'ferry'
@require 'liberty'
@require 'helicopter'

@require 'airvent'
@require 'bin'
@require 'bus'
@require 'drum'
@require 'ring'
@require 'star'
@require 'streetsign'
@require 'lightpost'

