@import 'nib'

$totalTime = 120s
$stageWidth = 1280px
$stageHeight = 768px

// @require 'debug'

@require 'stage'

@require 'blimp'
@require 'coastguard'
@require 'ferry'
@require 'liberty'
@require 'helicopter'

@require 'airvent'
@require 'bin'
@require 'bus'
@require 'cannon'
@require 'colgate'
@require 'drum'
@require 'lightpost'
@require 'palm'
@require 'ring'
@require 'star'
@require 'streetsign'

