$stageWidth = 640px
$stageHeight = 360px
$stageWidth = 1280px
$stageHeight = 768px

.stage
	margin 10px auto
	position relative
	width $stageWidth
	height $stageHeight
	overflow hidden
	background #f90

$panoWidth = $stageWidth * 3
$panoHeight = $stageHeight
.panorama
	width $panoWidth
	height $panoHeight
	background #09f
	background-image url(img/manhattan-skyline.jpg)
	background-size cover

	animation-name panorama-pan
	animation-duration 13s
	animation-iteration-count infinite
	animation-direction alternate
	animation-timing-function ease-in-out

@keyframes panorama-pan
	0%
		transform translate(0, 0)
	100%
		transform translate(-($panoWidth - $stageWidth), 0)


