.stage {
  margin: 100px;
  position: relative;
  width: 640px;
  height: 360px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: bottom;
  -moz-perspective-origin: bottom;
  -ms-perspective-origin: bottom;
  perspective-origin: bottom;
}
.stage-preview {
  position: absolute;
  width: 640px;
  height: 360px;
  top: 0;
  left: 0;
  background: rgba(255,144,0,0.75);
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 4459.21875px;
  height: 360px;
  -webkit-animation-duration: 40s;
  -moz-animation-duration: 40s;
  -o-animation-duration: 40s;
  -ms-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.layer img {
  position: absolute;
}
.layer0 {
  background-image: url("img/pano1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border: 4px dashed #c00;
}
.layer1 {
  border: 4px dashed #f90;
}
.layer2 {
  border: 4px dashed #0c9;
}
@-moz-keyframes layer0pan {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-3819.21875px, 0);
    -moz-transform: translate(-3819.21875px, 0);
    -o-transform: translate(-3819.21875px, 0);
    -ms-transform: translate(-3819.21875px, 0);
    transform: translate(-3819.21875px, 0);
  }
}
@-webkit-keyframes layer0pan {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-3819.21875px, 0);
    -moz-transform: translate(-3819.21875px, 0);
    -o-transform: translate(-3819.21875px, 0);
    -ms-transform: translate(-3819.21875px, 0);
    transform: translate(-3819.21875px, 0);
  }
}
@-o-keyframes layer0pan {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-3819.21875px, 0);
    -moz-transform: translate(-3819.21875px, 0);
    -o-transform: translate(-3819.21875px, 0);
    -ms-transform: translate(-3819.21875px, 0);
    transform: translate(-3819.21875px, 0);
  }
}
@keyframes layer0pan {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-3819.21875px, 0);
    -moz-transform: translate(-3819.21875px, 0);
    -o-transform: translate(-3819.21875px, 0);
    -ms-transform: translate(-3819.21875px, 0);
    transform: translate(-3819.21875px, 0);
  }
}
@-moz-keyframes layer1pan {
  0% {
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 200px);
    -moz-transform: translate3d(-3819.21875px, 0, 200px);
    -o-transform: translate3d(-3819.21875px, 0, 200px);
    -ms-transform: translate3d(-3819.21875px, 0, 200px);
    transform: translate3d(-3819.21875px, 0, 200px);
  }
}
@-webkit-keyframes layer1pan {
  0% {
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 200px);
    -moz-transform: translate3d(-3819.21875px, 0, 200px);
    -o-transform: translate3d(-3819.21875px, 0, 200px);
    -ms-transform: translate3d(-3819.21875px, 0, 200px);
    transform: translate3d(-3819.21875px, 0, 200px);
  }
}
@-o-keyframes layer1pan {
  0% {
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 200px);
    -moz-transform: translate3d(-3819.21875px, 0, 200px);
    -o-transform: translate3d(-3819.21875px, 0, 200px);
    -ms-transform: translate3d(-3819.21875px, 0, 200px);
    transform: translate3d(-3819.21875px, 0, 200px);
  }
}
@keyframes layer1pan {
  0% {
    -webkit-transform: translate3d(0, 0, 200px);
    -moz-transform: translate3d(0, 0, 200px);
    -o-transform: translate3d(0, 0, 200px);
    -ms-transform: translate3d(0, 0, 200px);
    transform: translate3d(0, 0, 200px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 200px);
    -moz-transform: translate3d(-3819.21875px, 0, 200px);
    -o-transform: translate3d(-3819.21875px, 0, 200px);
    -ms-transform: translate3d(-3819.21875px, 0, 200px);
    transform: translate3d(-3819.21875px, 0, 200px);
  }
}
@-moz-keyframes layer2pan {
  0% {
    -webkit-transform: translate3d(0, 0, 400px);
    -moz-transform: translate3d(0, 0, 400px);
    -o-transform: translate3d(0, 0, 400px);
    -ms-transform: translate3d(0, 0, 400px);
    transform: translate3d(0, 0, 400px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 400px);
    -moz-transform: translate3d(-3819.21875px, 0, 400px);
    -o-transform: translate3d(-3819.21875px, 0, 400px);
    -ms-transform: translate3d(-3819.21875px, 0, 400px);
    transform: translate3d(-3819.21875px, 0, 400px);
  }
}
@-webkit-keyframes layer2pan {
  0% {
    -webkit-transform: translate3d(0, 0, 400px);
    -moz-transform: translate3d(0, 0, 400px);
    -o-transform: translate3d(0, 0, 400px);
    -ms-transform: translate3d(0, 0, 400px);
    transform: translate3d(0, 0, 400px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 400px);
    -moz-transform: translate3d(-3819.21875px, 0, 400px);
    -o-transform: translate3d(-3819.21875px, 0, 400px);
    -ms-transform: translate3d(-3819.21875px, 0, 400px);
    transform: translate3d(-3819.21875px, 0, 400px);
  }
}
@-o-keyframes layer2pan {
  0% {
    -webkit-transform: translate3d(0, 0, 400px);
    -moz-transform: translate3d(0, 0, 400px);
    -o-transform: translate3d(0, 0, 400px);
    -ms-transform: translate3d(0, 0, 400px);
    transform: translate3d(0, 0, 400px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 400px);
    -moz-transform: translate3d(-3819.21875px, 0, 400px);
    -o-transform: translate3d(-3819.21875px, 0, 400px);
    -ms-transform: translate3d(-3819.21875px, 0, 400px);
    transform: translate3d(-3819.21875px, 0, 400px);
  }
}
@keyframes layer2pan {
  0% {
    -webkit-transform: translate3d(0, 0, 400px);
    -moz-transform: translate3d(0, 0, 400px);
    -o-transform: translate3d(0, 0, 400px);
    -ms-transform: translate3d(0, 0, 400px);
    transform: translate3d(0, 0, 400px);
  }
  100% {
    -webkit-transform: translate3d(-3819.21875px, 0, 400px);
    -moz-transform: translate3d(-3819.21875px, 0, 400px);
    -o-transform: translate3d(-3819.21875px, 0, 400px);
    -ms-transform: translate3d(-3819.21875px, 0, 400px);
    transform: translate3d(-3819.21875px, 0, 400px);
  }
}
#blimp {
  position: absolute;
  left: 2229.609375px;
  top: 18px;
  width: 108px;
}
#coastguard {
  position: absolute;
  bottom: 8%;
  left: 30%;
  width: 192px;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-moz-keyframes coastguard {
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
  100% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
}
@-webkit-keyframes coastguard {
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
  100% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
}
@-o-keyframes coastguard {
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
  100% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
}
@keyframes coastguard {
  10% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  90% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
  100% {
    -webkit-transform: translate(640px, 0);
    -moz-transform: translate(640px, 0);
    -o-transform: translate(640px, 0);
    -ms-transform: translate(640px, 0);
    transform: translate(640px, 0);
  }
}
#ferry {
  top: 216px;
  left: 891.84375px;
  width: 320px;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-moz-keyframes ferry {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
  100% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
}
@-webkit-keyframes ferry {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
  100% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
}
@-o-keyframes ferry {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
  100% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
}
@keyframes ferry {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  90% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
  100% {
    -webkit-transform: translateX(640px);
    -moz-transform: translateX(640px);
    -o-transform: translateX(640px);
    -ms-transform: translateX(640px);
    transform: translateX(640px);
  }
}
#liberty {
  position: absolute;
  left: 503.89171875px;
  bottom: 0;
  height: 216px;
  -webkit-animation-name: liberty;
  -moz-animation-name: liberty;
  -o-animation-name: liberty;
  -ms-animation-name: liberty;
  animation-name: liberty;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -o-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  -ms-animation-direction: alternate;
  animation-direction: alternate;
}
@-moz-keyframes liberty {
  0% {
    -webkit-transform: translate(0, 226px);
    -moz-transform: translate(0, 226px);
    -o-transform: translate(0, 226px);
    -ms-transform: translate(0, 226px);
    transform: translate(0, 226px);
  }
  80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-webkit-keyframes liberty {
  0% {
    -webkit-transform: translate(0, 226px);
    -moz-transform: translate(0, 226px);
    -o-transform: translate(0, 226px);
    -ms-transform: translate(0, 226px);
    transform: translate(0, 226px);
  }
  80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@-o-keyframes liberty {
  0% {
    -webkit-transform: translate(0, 226px);
    -moz-transform: translate(0, 226px);
    -o-transform: translate(0, 226px);
    -ms-transform: translate(0, 226px);
    transform: translate(0, 226px);
  }
  80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes liberty {
  0% {
    -webkit-transform: translate(0, 226px);
    -moz-transform: translate(0, 226px);
    -o-transform: translate(0, 226px);
    -ms-transform: translate(0, 226px);
    transform: translate(0, 226px);
  }
  80% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
#heli {
  position: absolute;
  left: 0;
  top: 0;
  width: 72px;
  -webkit-animation-duration: 12s;
  -moz-animation-duration: 12s;
  -o-animation-duration: 12s;
  -ms-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-moz-keyframes heli {
  0% {
    -webkit-transform: translate(-445.921875px, 144px) scaleX(1);
    -moz-transform: translate(-445.921875px, 144px) scaleX(1);
    -o-transform: translate(-445.921875px, 144px) scaleX(1);
    -ms-transform: translate(-445.921875px, 144px) scaleX(1);
    transform: translate(-445.921875px, 144px) scaleX(1);
  }
  12% {
    -webkit-transform: translate(891.84375px, 72px) scaleX(1);
    -moz-transform: translate(891.84375px, 72px) scaleX(1);
    -o-transform: translate(891.84375px, 72px) scaleX(1);
    -ms-transform: translate(891.84375px, 72px) scaleX(1);
    transform: translate(891.84375px, 72px) scaleX(1);
  }
  25% {
    -webkit-transform: translate(1337.765625px, 36px) scaleX(1);
    -moz-transform: translate(1337.765625px, 36px) scaleX(1);
    -o-transform: translate(1337.765625px, 36px) scaleX(1);
    -ms-transform: translate(1337.765625px, 36px) scaleX(1);
    transform: translate(1337.765625px, 36px) scaleX(1);
  }
  37% {
    -webkit-transform: translate(1783.6875px, 234px) scaleX(1);
    -moz-transform: translate(1783.6875px, 234px) scaleX(1);
    -o-transform: translate(1783.6875px, 234px) scaleX(1);
    -ms-transform: translate(1783.6875px, 234px) scaleX(1);
    transform: translate(1783.6875px, 234px) scaleX(1);
  }
  49% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(1);
    -o-transform: translate(4905.140625px, 30px) scaleX(1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(1);
    transform: translate(4905.140625px, 30px) scaleX(1);
  }
  50% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(-1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(-1);
    -o-transform: translate(4905.140625px, 30px) scaleX(-1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(-1);
    transform: translate(4905.140625px, 30px) scaleX(-1);
  }
  63% {
    -webkit-transform: translate(2675.53125px, 80px) scaleX(-1);
    -moz-transform: translate(2675.53125px, 80px) scaleX(-1);
    -o-transform: translate(2675.53125px, 80px) scaleX(-1);
    -ms-transform: translate(2675.53125px, 80px) scaleX(-1);
    transform: translate(2675.53125px, 80px) scaleX(-1);
  }
  75% {
    -webkit-transform: translate(2229.609375px, 10px) scaleX(-1);
    -moz-transform: translate(2229.609375px, 10px) scaleX(-1);
    -o-transform: translate(2229.609375px, 10px) scaleX(-1);
    -ms-transform: translate(2229.609375px, 10px) scaleX(-1);
    transform: translate(2229.609375px, 10px) scaleX(-1);
  }
  88% {
    -webkit-transform: translate(891.84375px, 40px) scaleX(-1);
    -moz-transform: translate(891.84375px, 40px) scaleX(-1);
    -o-transform: translate(891.84375px, 40px) scaleX(-1);
    -ms-transform: translate(891.84375px, 40px) scaleX(-1);
    transform: translate(891.84375px, 40px) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(-445.921875px, 120px) scaleX(-1);
    -moz-transform: translate(-445.921875px, 120px) scaleX(-1);
    -o-transform: translate(-445.921875px, 120px) scaleX(-1);
    -ms-transform: translate(-445.921875px, 120px) scaleX(-1);
    transform: translate(-445.921875px, 120px) scaleX(-1);
  }
}
@-webkit-keyframes heli {
  0% {
    -webkit-transform: translate(-445.921875px, 144px) scaleX(1);
    -moz-transform: translate(-445.921875px, 144px) scaleX(1);
    -o-transform: translate(-445.921875px, 144px) scaleX(1);
    -ms-transform: translate(-445.921875px, 144px) scaleX(1);
    transform: translate(-445.921875px, 144px) scaleX(1);
  }
  12% {
    -webkit-transform: translate(891.84375px, 72px) scaleX(1);
    -moz-transform: translate(891.84375px, 72px) scaleX(1);
    -o-transform: translate(891.84375px, 72px) scaleX(1);
    -ms-transform: translate(891.84375px, 72px) scaleX(1);
    transform: translate(891.84375px, 72px) scaleX(1);
  }
  25% {
    -webkit-transform: translate(1337.765625px, 36px) scaleX(1);
    -moz-transform: translate(1337.765625px, 36px) scaleX(1);
    -o-transform: translate(1337.765625px, 36px) scaleX(1);
    -ms-transform: translate(1337.765625px, 36px) scaleX(1);
    transform: translate(1337.765625px, 36px) scaleX(1);
  }
  37% {
    -webkit-transform: translate(1783.6875px, 234px) scaleX(1);
    -moz-transform: translate(1783.6875px, 234px) scaleX(1);
    -o-transform: translate(1783.6875px, 234px) scaleX(1);
    -ms-transform: translate(1783.6875px, 234px) scaleX(1);
    transform: translate(1783.6875px, 234px) scaleX(1);
  }
  49% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(1);
    -o-transform: translate(4905.140625px, 30px) scaleX(1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(1);
    transform: translate(4905.140625px, 30px) scaleX(1);
  }
  50% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(-1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(-1);
    -o-transform: translate(4905.140625px, 30px) scaleX(-1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(-1);
    transform: translate(4905.140625px, 30px) scaleX(-1);
  }
  63% {
    -webkit-transform: translate(2675.53125px, 80px) scaleX(-1);
    -moz-transform: translate(2675.53125px, 80px) scaleX(-1);
    -o-transform: translate(2675.53125px, 80px) scaleX(-1);
    -ms-transform: translate(2675.53125px, 80px) scaleX(-1);
    transform: translate(2675.53125px, 80px) scaleX(-1);
  }
  75% {
    -webkit-transform: translate(2229.609375px, 10px) scaleX(-1);
    -moz-transform: translate(2229.609375px, 10px) scaleX(-1);
    -o-transform: translate(2229.609375px, 10px) scaleX(-1);
    -ms-transform: translate(2229.609375px, 10px) scaleX(-1);
    transform: translate(2229.609375px, 10px) scaleX(-1);
  }
  88% {
    -webkit-transform: translate(891.84375px, 40px) scaleX(-1);
    -moz-transform: translate(891.84375px, 40px) scaleX(-1);
    -o-transform: translate(891.84375px, 40px) scaleX(-1);
    -ms-transform: translate(891.84375px, 40px) scaleX(-1);
    transform: translate(891.84375px, 40px) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(-445.921875px, 120px) scaleX(-1);
    -moz-transform: translate(-445.921875px, 120px) scaleX(-1);
    -o-transform: translate(-445.921875px, 120px) scaleX(-1);
    -ms-transform: translate(-445.921875px, 120px) scaleX(-1);
    transform: translate(-445.921875px, 120px) scaleX(-1);
  }
}
@-o-keyframes heli {
  0% {
    -webkit-transform: translate(-445.921875px, 144px) scaleX(1);
    -moz-transform: translate(-445.921875px, 144px) scaleX(1);
    -o-transform: translate(-445.921875px, 144px) scaleX(1);
    -ms-transform: translate(-445.921875px, 144px) scaleX(1);
    transform: translate(-445.921875px, 144px) scaleX(1);
  }
  12% {
    -webkit-transform: translate(891.84375px, 72px) scaleX(1);
    -moz-transform: translate(891.84375px, 72px) scaleX(1);
    -o-transform: translate(891.84375px, 72px) scaleX(1);
    -ms-transform: translate(891.84375px, 72px) scaleX(1);
    transform: translate(891.84375px, 72px) scaleX(1);
  }
  25% {
    -webkit-transform: translate(1337.765625px, 36px) scaleX(1);
    -moz-transform: translate(1337.765625px, 36px) scaleX(1);
    -o-transform: translate(1337.765625px, 36px) scaleX(1);
    -ms-transform: translate(1337.765625px, 36px) scaleX(1);
    transform: translate(1337.765625px, 36px) scaleX(1);
  }
  37% {
    -webkit-transform: translate(1783.6875px, 234px) scaleX(1);
    -moz-transform: translate(1783.6875px, 234px) scaleX(1);
    -o-transform: translate(1783.6875px, 234px) scaleX(1);
    -ms-transform: translate(1783.6875px, 234px) scaleX(1);
    transform: translate(1783.6875px, 234px) scaleX(1);
  }
  49% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(1);
    -o-transform: translate(4905.140625px, 30px) scaleX(1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(1);
    transform: translate(4905.140625px, 30px) scaleX(1);
  }
  50% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(-1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(-1);
    -o-transform: translate(4905.140625px, 30px) scaleX(-1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(-1);
    transform: translate(4905.140625px, 30px) scaleX(-1);
  }
  63% {
    -webkit-transform: translate(2675.53125px, 80px) scaleX(-1);
    -moz-transform: translate(2675.53125px, 80px) scaleX(-1);
    -o-transform: translate(2675.53125px, 80px) scaleX(-1);
    -ms-transform: translate(2675.53125px, 80px) scaleX(-1);
    transform: translate(2675.53125px, 80px) scaleX(-1);
  }
  75% {
    -webkit-transform: translate(2229.609375px, 10px) scaleX(-1);
    -moz-transform: translate(2229.609375px, 10px) scaleX(-1);
    -o-transform: translate(2229.609375px, 10px) scaleX(-1);
    -ms-transform: translate(2229.609375px, 10px) scaleX(-1);
    transform: translate(2229.609375px, 10px) scaleX(-1);
  }
  88% {
    -webkit-transform: translate(891.84375px, 40px) scaleX(-1);
    -moz-transform: translate(891.84375px, 40px) scaleX(-1);
    -o-transform: translate(891.84375px, 40px) scaleX(-1);
    -ms-transform: translate(891.84375px, 40px) scaleX(-1);
    transform: translate(891.84375px, 40px) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(-445.921875px, 120px) scaleX(-1);
    -moz-transform: translate(-445.921875px, 120px) scaleX(-1);
    -o-transform: translate(-445.921875px, 120px) scaleX(-1);
    -ms-transform: translate(-445.921875px, 120px) scaleX(-1);
    transform: translate(-445.921875px, 120px) scaleX(-1);
  }
}
@keyframes heli {
  0% {
    -webkit-transform: translate(-445.921875px, 144px) scaleX(1);
    -moz-transform: translate(-445.921875px, 144px) scaleX(1);
    -o-transform: translate(-445.921875px, 144px) scaleX(1);
    -ms-transform: translate(-445.921875px, 144px) scaleX(1);
    transform: translate(-445.921875px, 144px) scaleX(1);
  }
  12% {
    -webkit-transform: translate(891.84375px, 72px) scaleX(1);
    -moz-transform: translate(891.84375px, 72px) scaleX(1);
    -o-transform: translate(891.84375px, 72px) scaleX(1);
    -ms-transform: translate(891.84375px, 72px) scaleX(1);
    transform: translate(891.84375px, 72px) scaleX(1);
  }
  25% {
    -webkit-transform: translate(1337.765625px, 36px) scaleX(1);
    -moz-transform: translate(1337.765625px, 36px) scaleX(1);
    -o-transform: translate(1337.765625px, 36px) scaleX(1);
    -ms-transform: translate(1337.765625px, 36px) scaleX(1);
    transform: translate(1337.765625px, 36px) scaleX(1);
  }
  37% {
    -webkit-transform: translate(1783.6875px, 234px) scaleX(1);
    -moz-transform: translate(1783.6875px, 234px) scaleX(1);
    -o-transform: translate(1783.6875px, 234px) scaleX(1);
    -ms-transform: translate(1783.6875px, 234px) scaleX(1);
    transform: translate(1783.6875px, 234px) scaleX(1);
  }
  49% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(1);
    -o-transform: translate(4905.140625px, 30px) scaleX(1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(1);
    transform: translate(4905.140625px, 30px) scaleX(1);
  }
  50% {
    -webkit-transform: translate(4905.140625px, 30px) scaleX(-1);
    -moz-transform: translate(4905.140625px, 30px) scaleX(-1);
    -o-transform: translate(4905.140625px, 30px) scaleX(-1);
    -ms-transform: translate(4905.140625px, 30px) scaleX(-1);
    transform: translate(4905.140625px, 30px) scaleX(-1);
  }
  63% {
    -webkit-transform: translate(2675.53125px, 80px) scaleX(-1);
    -moz-transform: translate(2675.53125px, 80px) scaleX(-1);
    -o-transform: translate(2675.53125px, 80px) scaleX(-1);
    -ms-transform: translate(2675.53125px, 80px) scaleX(-1);
    transform: translate(2675.53125px, 80px) scaleX(-1);
  }
  75% {
    -webkit-transform: translate(2229.609375px, 10px) scaleX(-1);
    -moz-transform: translate(2229.609375px, 10px) scaleX(-1);
    -o-transform: translate(2229.609375px, 10px) scaleX(-1);
    -ms-transform: translate(2229.609375px, 10px) scaleX(-1);
    transform: translate(2229.609375px, 10px) scaleX(-1);
  }
  88% {
    -webkit-transform: translate(891.84375px, 40px) scaleX(-1);
    -moz-transform: translate(891.84375px, 40px) scaleX(-1);
    -o-transform: translate(891.84375px, 40px) scaleX(-1);
    -ms-transform: translate(891.84375px, 40px) scaleX(-1);
    transform: translate(891.84375px, 40px) scaleX(-1);
  }
  100% {
    -webkit-transform: translate(-445.921875px, 120px) scaleX(-1);
    -moz-transform: translate(-445.921875px, 120px) scaleX(-1);
    -o-transform: translate(-445.921875px, 120px) scaleX(-1);
    -ms-transform: translate(-445.921875px, 120px) scaleX(-1);
    transform: translate(-445.921875px, 120px) scaleX(-1);
  }
}
#airvent {
  top: 180px;
  left: 2274.2015625px;
  width: 256px;
}
#palm {
  bottom: 0;
  left: 1783.6875px;
  width: 192px;
}
#bus {
  bottom: 0;
  left: 1114.8046875px;
  width: 448px;
}
#drum {
  bottom: 0;
  left: 0;
  width: 384px;
}
#ring {
  top: 360px;
  left: 802.659375px;
  width: 192px;
  -webkit-animation-name: ring;
  -moz-animation-name: ring;
  -o-animation-name: ring;
  -ms-animation-name: ring;
  animation-name: ring;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -o-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
@-moz-keyframes ring {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -180px) rotate(360deg);
    -moz-transform: translate(0, -180px) rotate(360deg);
    -o-transform: translate(0, -180px) rotate(360deg);
    -ms-transform: translate(0, -180px) rotate(360deg);
    transform: translate(0, -180px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(720deg);
    -moz-transform: translate(0, 0) rotate(720deg);
    -o-transform: translate(0, 0) rotate(720deg);
    -ms-transform: translate(0, 0) rotate(720deg);
    transform: translate(0, 0) rotate(720deg);
  }
}
@-webkit-keyframes ring {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -180px) rotate(360deg);
    -moz-transform: translate(0, -180px) rotate(360deg);
    -o-transform: translate(0, -180px) rotate(360deg);
    -ms-transform: translate(0, -180px) rotate(360deg);
    transform: translate(0, -180px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(720deg);
    -moz-transform: translate(0, 0) rotate(720deg);
    -o-transform: translate(0, 0) rotate(720deg);
    -ms-transform: translate(0, 0) rotate(720deg);
    transform: translate(0, 0) rotate(720deg);
  }
}
@-o-keyframes ring {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -180px) rotate(360deg);
    -moz-transform: translate(0, -180px) rotate(360deg);
    -o-transform: translate(0, -180px) rotate(360deg);
    -ms-transform: translate(0, -180px) rotate(360deg);
    transform: translate(0, -180px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(720deg);
    -moz-transform: translate(0, 0) rotate(720deg);
    -o-transform: translate(0, 0) rotate(720deg);
    -ms-transform: translate(0, 0) rotate(720deg);
    transform: translate(0, 0) rotate(720deg);
  }
}
@keyframes ring {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
    -moz-transform: translate(0, 0) rotate(0deg);
    -o-transform: translate(0, 0) rotate(0deg);
    -ms-transform: translate(0, 0) rotate(0deg);
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(0, -180px) rotate(360deg);
    -moz-transform: translate(0, -180px) rotate(360deg);
    -o-transform: translate(0, -180px) rotate(360deg);
    -ms-transform: translate(0, -180px) rotate(360deg);
    transform: translate(0, -180px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(720deg);
    -moz-transform: translate(0, 0) rotate(720deg);
    -o-transform: translate(0, 0) rotate(720deg);
    -ms-transform: translate(0, 0) rotate(720deg);
    transform: translate(0, 0) rotate(720deg);
  }
}
#star {
  bottom: 0;
  left: 3567.375px;
  width: 320px;
}
#streetsign {
  bottom: 0;
  left: 4013.296875px;
  width: 160px;
}
#lightpost {
  bottom: 0;
  left: 2898.4921875px;
  width: 64px;
}
